alembic==1.14.1
aniso8601==10.0.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
dnspython==2.7.0
Flask==3.1.0
Flask-Cors==5.0.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
greenlet==3.1.1
grpcio==1.70.0
grpcio-tools==1.70.0
humanfriendly==10.0
itsdangerous==2.2.0
Jinja2==3.1.5
Mako==1.3.9
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.0
mpmath==1.3.0
numpy==2.2.2
onnxruntime==1.20.1
packaging==24.2
pika==1.3.2
protobuf==5.29.3
psycopg2-binary==2.9.10
pymongo==4.11
pyreadline3==3.5.4
python-dotenv==1.0.1
pytz==2025.1
setuptools==75.8.0
six==1.17.0
SQLAlchemy==2.0.37
sympy==1.13.3
typing_extensions==4.12.2
Werkzeug==3.1.3
